# Core dependencies
PlexAPI==4.15.0
mutagen>=1.47.0
requests>=2.32.3
PyYAML>=6.0.2

# Requests dependencies (keep in sync)
certifi>=2025.7.15
charset-normalizer>=3.3.2
idna>=3.7
urllib3>=2.2.3

# CLI helpers
click>=8.1.7
click-aliases==1.0.1